body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-block{
  width: 15vw;
  height: 15vw;
  background: rgb(254,218,117);
}

.test-container{
  width: 50vw;
  height: 50vw;
  background: rgba(214,41,118,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}